[submodule "CKSideBarController"]
	path = CKSideBarController
	url = git@github.com:alist/CKSideBarController.git
[submodule "MNMRadioGroupDemo"]
	path = MNMRadioGroupDemo
	url = git@github.com:alist/MNMRadioGroupDemo.git
