[submodule "CKSideBarController"]
	path = CKSideBarController
	url = git@github.com:alist/CKSideBarController.git
[submodule "MNMRadioGroupDemo"]
	path = MNMRadioGroupDemo
	url = git@github.com:alist/MNMRadioGroupDemo.git
[submodule "MGBox2"]
	path = MGBox2
	url = git@github.com:alist/MGBox2.git
[submodule "MHPagingScrollView"]
	path = MHPagingScrollView
	url = git@github.com:alist/MHPagingScrollView.git
[submodule "SMPageControl"]
	path = SMPageControl
	url = git@github.com:alist/SMPageControl.git
[submodule "RestKit"]
	path = RestKit
	url = git@github.com:alist/RestKit.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git@github.com:alist/MagicalRecord.git
