<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.00</string>
	<key>formSpacingInterval</key>
	<integer>604800</integer>
	<key>title</key>
	<string>Quick Inventory of Depressive Symptomatology (Self Report) (QIDS-SR 16)</string>
	<key>prompt</key>
	<string>Please circle the one response to each item that best describes you for the past seven days.</string>
	<key>completionSubmissionPrompt</key>
	<string>This is the end of the QIDS. 
If you&apos;d like, type any thoughts you&apos;d use to remember the week. Otherwise, about a week from now would be a good time for the next QIDS!</string>
	<key>questions</key>
	<array>
		<dict>
			<key>prompt</key>
			<string>Falling asleep</string>
			<key>itemtype</key>
			<string>falling asleep</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Sleep during the night</string>
			<key>itemtype</key>
			<string>sleep during the night</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Waking up too early</string>
			<key>itemtype</key>
			<string>waking up too early</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Sleeping too much</string>
			<key>itemtype</key>
			<string>sleeping too much</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Feeling sad</string>
			<key>itemtype</key>
			<string>feeling sad</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Decreased appetite</string>
			<key>itemtype</key>
			<string>decreased appetite</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string> Increased appetite</string>
			<key>itemtype</key>
			<string>increased appetite</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Decreased weight (within the last two weeks)</string>
			<key>itemtype</key>
			<string>decreased weight</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Increased weight (within the last two weeks)</string>
			<key>itemtype</key>
			<string>increased weight</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Concentration/Decision making</string>
			<key>itemtype</key>
			<string>concentration</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>View of myself</string>
			<key>itemtype</key>
			<string>view of myself</string>
		</dict>
		<dict>
			<key>trigger</key>
			<dict>
				<key>tripValue</key>
				<integer>3</integer>
				<key>message</key>
				<string>Hey-- Mental health professionals are legally required to seek immediate intervention for you when you make this response.
This app can&apos;t do that (yet)! Please talk to a professional whose job is to get you out of this cycle ASAP, or call the national suicide hotline at (800) 442-4673 (U.S.)!</string>
			</dict>
			<key>prompt</key>
			<string>Thoughts of death or suicide</string>
			<key>itemtype</key>
			<string>thoughts of death or suicide</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>General interest</string>
			<key>itemtype</key>
			<string>general interest</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Energy level</string>
			<key>itemtype</key>
			<string>energy level</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Feeling slowed down</string>
			<key>itemtype</key>
			<string>feeling slowed down</string>
		</dict>
		<dict>
			<key>prompt</key>
			<string>Feeling restless</string>
			<key>itemtype</key>
			<string>feeling restless</string>
		</dict>
	</array>
</dict>
</plist>
